MONGO_URL=mongodb://localhost:27017
DB_NAME=g00dweird_dev
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
REALTIME_MODE=single-instance
OBJECT_STORAGE_PROVIDER=local
LOCAL_STORAGE_DIR=./local_storage
